<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Assignment test suite">
    <test name="Automation test for Evaluation">
          <parameter name="browser" value="chrome">
              <parameter name="username" value="sharuti2191sarna@gmail.com">
                  <parameter name="password" value="Welcome@123">
              <classes>
                  <class name="test.AssignmentTest"></class>
              </classes>
                  </parameter>
              </parameter>
          </parameter>
    </test>
</suite>